@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  /* Colors */
  --cl-text-dark: #25396f;
  --cl-text-light: #7c8db5;
  --cl-text-danger: #ec331e;

  --cl-active: #07cea4;
  --cl-active-button-bg: #07cea4;
  --cl-active-button-text: #ffffff;
  --cl-card-border: #dbe4f0;
  --cl-card-bg: #ffffff;

  --cl-regular-button-color: #0181b6;

  --cl-item1: #07cea4;
  --cl-item2: #fc782c;
  --cl-item3: #9b54e1;
  --cl-item4: #fe4a8b;
  --cl-item5: #524fe1;

  /* --cl-sidebar-top: #006baa;
  --cl-sidebar-bottom: #0093c0; */
  --cl-sidebar-background: linear-gradient(0.5turn, #006baa, #0093c0);
  --cl-sidebar-selected-item: #015c8c;
  --cl-sidebar-text: #ffffff;

  --cl-content-bg: #f6f8fa;

  --cl-alert-circle: #e03927;
  --cl-alert-text: #ffffff;

  --cl-select-bg: #f2f5fb;
  --cl-select-border: #dbe4f0;

  /* fonts */
  --ft-logo: 700 1.875rem 'Montserrat';
  --ft-sidebar-item: 500 0.875rem 'Poppins';
  --ft-select-title: 700 1rem 'Poppins';
  --ft-company-title: 700 2rem 'Poppins';
  --ft-company-type: 500 1.125rem 'Poppins';

  --ft-regular-text: 500 1rem 'Poppins';
  --ft-date-text: italic 400 1rem 'Poppins';
  --ft-ticket-number: italic 400 1rem 'Poppins';
  --ft-data-text: 400 1rem 'Poppins';
  --ft-system-info: 500 1.25rem 'Poppins';
  --ft-info-text: 400 1rem 'Poppins';

  --ft-payment-info: 700 1rem 'Poppins';
  --ft-logout-text: 700 1rem 'Poppins';
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin: 0; */
  /* background-color: #f6f8fa; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  /* justify-content: center; */
  width: 100vw;
  /* max-width: 1440px; */
  height: 100vh;
}
