@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --text-dark: #25396f;
  --text-light: #7c8db5;
  --text-danger: #ec331e;

  --active: #07cea4;
  --active-button-bg: #07cea4;
  --active-button-text: #ffffff;
  --card-border: #dbe4f0;
  --card-bg: #ffffff;

  --regular-button-color: #0181b6;

  --item1: #07cea4;
  --item2: #fc782c;
  --item3: #9b54e1;
  --item4: #fe4a8b;
  --item5: #524fe1;

  --sidebar-top: #006baa;
  --sidebar-bottom: #0093c0;
  --sidebar-selected-item: #015c8c;

  --content-bg: #f6f8fa;

  --alert-circle: #e03927;
  --alert-text: #ffffff;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin: 0; */
  /* background-color: #f6f8fa; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  width: 100vw;
  /* max-width: 1440px; */
  height: 100vh;
}
